body {
    box-sizing: border-box;
    background-color: #f7ecde;
}

header h1 {
    width: fit-content;
    font-family: "Pacifico", cursive;
}

header h1::before {
    content: "";
    width: 100%;
    height: 35%;
    position: absolute;
    background-color: #fec260;
    bottom: 2px;
    z-index: -1;
    transition-duration: .5s;
}

header h1:hover::before {
    height: 55%;
}




section h2 {
    background-clip: text;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-text-fill-color: transparent;
}

section .header {
    border-width: 2px 0 2px 0;
    border-color: black;
    border-style: dotted;
}
